<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheet/styles.css">

    <title>Error</title>
</head>
<body class="bg-gray-900 text-white">

    <header>
        <nav class="bg-gray-700 flex justify-between ">
            <!-- icon for home -->
             <div class="ms-24 my-auto">
                <a href="/" class="self-center">
                    <i class="fa fa-home self-center" style="font-size:36px;color:#fff;"></i>
                 </a>
             </div>
             <div class="my-auto">
                <p class="text-white grey-qo-regular animate-pulse ">Welcome to you personal diary &hearts;</p>
             </div>
             <div class="me-24">
                <button class="bg-cyan-900 text-white p-2 px-4 rounded my-2">Login</button>
             </div>
             


        </nav>
    </header>
    <h1>Something went wrong</h1>
</body>
</html>